<div>
<nav class="navbar bg-body-tertiary d-flex justify-content-between text-align-center navbar">
<div class="col-auto"><%= link_to "Wikinimous", articles_path, class:"text-decoration-none" %></div>
<div class="col-auto"><%= link_to "New article", new_article_path %></div>
</nav>
